<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variable name="encoding" value="UTF-8" />
	<variable name="logDirectory" value="${basedir}/logs/${shortdate}" />
	<variable name="layout" value="${longdate} | ${uppercase:${level}} | ${logger} | ${message} ${exception:format=Message,StackTrace,Data:maxInnerExceptionLevel=10}" />
	<targets>
		<target name="logfile" 
				xsi:type="File"
			    encoding="${encoding}"
				layout="${layout}"
				fileName="${logDirectory}/log.txt" />
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile" />
	</rules>
</nlog>